numpy
Flask
langchain
langchain-community
langchain-chroma
langchain-pinecone
langchain-openai
langchain-groq
chromadb
pinecone
PyPDF2
pdfplumber
python-dotenv
sentence-transformers
huggingface-hub
transformers
torch
Jinja2
requests
Werkzeug
urllib3
charset-normalizer
idna
certifi

-e .